{% extends 'adminnav.html' %}

{% block content %}
{% include "sidebar.html" %}
<div class="dashmain">
    <div class="dashboardCard">
        <div class="glance">
            <div class="token box1">
                <span>Total User</span>
                <br>
                <span>19 </span>
            </div>
            <div class="token box2">
                <span>Total Book Post</span>
                <br>
                <span>28</span>
            </div>
            <div class="token box3">
                <span>Total Category</span>
                <br>
                <span> 7 </span>
         
            </div>
            <div class="token box4">
                <span>Total Book Review</span>
                <br>
                <span>35</span>
           
            </div>
            <div class="token box5">
                <span>Total Quray</span>
                <br>
                <span> 5</span>
 
            </div>
        

    </div>

</div>


{% endblock %}