{% extends 'profilebase.html' %}
{% block head %}
{{ super() }}
<style type="text/css">
    .content{
        height: 750px;
        overflow: hidden;
    }
    .popup .overlay {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.7);
            z-index: 1;
            display: block;
        }

        .popup .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            background: #fff;
            width: 95%;
            max-width: 500px;
            height: 550px;
            z-index: 2;
            text-align: center;
            padding: 20px;
            box-sizing: border-box;
            font-family: "Open Sans", sans-serif;
        }

        .popup .close-btn {
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 20px;
            width: 30px;
            height: 30px;
            background: #222;
            color: #fff;
            font-size: 25px;
            font-weight: 600;
            line-height: 30px;
            text-align: center;
            border-radius: 50%;
        }

        .popup.active .overlay {
            display: block;
        }

        .popup.active .content {
            transition: all 300ms ease-in-out;
            transform: translate(-50%, -50%) scale(1);
        }

        button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 15px;
            font-size: 18px;
            border: 2px solid #222;
            color: #222;
            text-transform: uppercase;
            font-weight: 600;
            background: #fff;
        }
</style>
{% endblock %}
{% block content %}


<!-------------------------------------------------profile cover photo------------------>


    <!--------------------------------continer---------------------->
<div class="continer">
    <div class="sideDive">

    </div>
    <div class="workspace">
        <div class="main">
            <div class="box leftSide">
                <h1>Category</h1>
                <ul>
                    <li> <span class="material-icons">
                            book
                        </span>
                        <a href="/wallet">Table</a></li>
                    <li> <span class="material-icons">
                            book
                        </span>
                        <a href="/booksubmite">Input Tokon</a></li>

                </ul>

            </div>
            <div class="walletcal">
                <h1>Wallet</h1>
                <div class="overlay"></div>
    <div class="content">
        {% for i in rows2 %}
        {% set imageName = i["uTokenImage"]|string()  %}
        {% set userimage = "image/"+imageName %}
        {% set imageName1 = i["rTokenImage"]|string()  %}
        {% set reqimage = "image/"+imageName %}
        {% set owner,wallet,ID,process,reqID,wait,waitvalue= i["pusername"],i["reqWallet"],i["requserId"],i["process"],i["reqId"],i["Waitprocess"],i["WaittingValue"] %}
        <h1>Book Submite</h1>
        <h1>{{ owner }}</h1>
        <img src="{{ url_for('static', filename=userimage) }}" alt="" id="userToken" width="300px" height="300px">

        <h1>Book  received </h1>
        <h1>{{ i["requserName"] }}</h1>
        <img src="{{ url_for('static', filename=reqimage) }}" alt="" id="userToken" width="300px" height="300px">

        {% endfor %}
        
    </div>

            </div>
            
        </div>
    </div>

</div>

{% endblock %}