
{% extends 'base.html' %}
{% block content %}
<span class="material-icons">
                favorite_border
                </span>
<!---------------------------------------profle Header--------------------------------->
<form method="post" enctype="multipart/form-data">

  <!--<label class="file">-->
  <p><input type="file" id="imgInp" name="file"></p>

  <!--  <input type="file" id="imgInp" name="file_source" aria-label="File browser example">-->
  <!--<span class="file-custom"></span>-->
<!--</label>-->

  <!-- <input type="file" id="imgInp" class="input-btn" name="file_source" size="40">-->
<!--   <img src="{{ user_image }}" id="img-upload" alt="User Image" class="img-upload"/>-->

   <p><input type=submit value=Upload></p>


</form>




 {% endblock %}


